body{
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.app{
    display: flex;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#element{
    background-color: #3b3b3b;
    /* background-color: #444; */
    padding: 25px 116.65px;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
}
#element3{
    background-color: #323232;
    color: white;
    padding: 25px 116.65px;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
}
#element:hover{
    background-color: #323232;
}
#element3:hover{
    background-color: #3b3b3b;
}
#element2{
    background-color: #76b9ed;
    color: black;
    padding: 25px 116.65px;
    border: 1px solid black;
    border-radius: 5px;
}
.display{
    min-height: 140px;
    margin: 0;
    padding-right: 0.5rem;
    padding-top: 1.45rem;
    padding-bottom: 2.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    flex: 1 1 0%;
}
.display .input{
    font-size: .90rem;
    margin-bottom: 0.5rem;
}
.display .output{
    font-size: 3rem;
    font-weight: 700;
    max-width: 100%;
    overflow: auto;
}