body{
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}
.main{
    display: flex;
}
.line{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.element{
    background-color: #3b3b3b;
    /* background-color: #444; */
    padding: 25px 116.65px;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
}
.element3{
    background-color: #323232;
    color: white;
    padding: 25px 116.65px;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
}
.element:hover{
    background-color: #323232;
}
.element3:hover{
    background-color: #3b3b3b;
}
.element2{
    background-color: #76b9ed;
    color: black;
    padding: 25px 116.65px;
    border: 1px solid black;
    border-radius: 5px;
}
.display{
    margin: 0;
    padding-right: 0.5rem;
    padding-top: 1.15rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
.display.input{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.output{
    font-size: 2.7rem;
    font-weight: 700;
    max-width: 100%;
    overflow: auto;
}